#header .navbar-logo {
    height: 35px;
}

#header .search-input {
    border-radius: 50px;
}

#header .nav-icon {
    margin-left: 20px;
    color: #000;
}

#menu .nav-list-item {
    margin-left: 80px;
}

